<%= stylesheet_link_tag 'new', :media => "all" %>

<div class="post-container">
    <div class="post_title">
    <h1>Post Form</h1>
    </div>

    <%= form_for(@tweet, :url => { controller:'tweets', action:'create'})do |f| %>

    <form id="form" class="topBefore">

    <form class="new_tweet" id="new_tweet" enctype="multipart/form-data" action="/tweets" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="M2E8gfbcjohbmKUGCL89j_MDrFYEow1Bz5bQqoOOQYTRr4mDo8FqGpyDyh04PqXFgC1Hwg56kK2Sxq87r9KZ0A">

    <input  size="50" type="text" placeholder="タイトル" name="tweet[title]" id="tweet_title">
    <input size="140" type="text" placeholder="投稿内容" name="tweet[body]" id="tweet_body">

    <div class="post_image">
    <div class="field">
    <%= f.file_field :image %>
    </div>
    <div class="field">
    <%= f.file_field :image2 %>
    </div>
    <div class="field">
    <%= f.file_field :image3 %>
    </div>
    <div class="field">
    <%= f.file_field :image4 %>
    </div>
    <div class="field">
    <%= f.file_field :image5 %>
    </div>
    </div>

    <div class="post_tag">
      <input size="30" type="text" name="tweet[tags]" id="tweet_tags" placeholder="タグ">
      <input size="30" type="text" name="tweet[tags2]" id="tweet_tags2" placeholder="タグ">
      <input size="30" type="text" name="tweet[tags3]" id="tweet_tags3" placeholder="タグ">
      <input size="30" type="text" name="tweet[tags4]" id="tweet_tags4" placeholder="タグ">
      <input size="30" type="text" name="tweet[tags5]" id="tweet_tags5" placeholder="タグ">
    </div>
    
    
    <div class="post_map_address">
    <input type="hidden" name="authenticity_token" value="M2E8gfbcjohbmKUGCL89j_MDrFYEow1Bz5bQqoOOQYTRr4mDo8FqGpyDyh04PqXFgC1Hwg56kK2Sxq87r9KZ0A">
    <div class="actions">
      <input value="" id="lat" type="text" name="tweet[lat]" placeholder="緯度">
      <input value="" id="lng" type="text" name="tweet[lng]" placeholder="経度">
    </div>
    </div>

    <div class="post_submit">
      <div class="actions">
      <input type="submit" name="commit" value="投稿" data-disable-with="投稿">
      </div>
    </div>
</form>

<div class="map_title">
<h2>Map</h2>
</div>
<div class="search_container">
  <div class="search-box">
    <input  type="text" id="address"  size="25" value="" >
    <input type="submit" value="" onclick="codeAddress()">
    <i class="fas fa-search"></i></input>
  </div>
</div>

  <div class="map_description">
    <p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
  </div>
  <div id='map'></div>
  
  <style>
  #map {
    height: 600px;
    width: 600px;
    margin: 10px auto;
  }
  </style>
  
  <script>
  //初期マップの設定
  let map
  let marker
  function initMap(){
    geocoder = new google.maps.Geocoder()
  
    map = new google.maps.Map(document.getElementById('map'), {
      center:  {lat: 35.6803997, lng:139.7690174},  //東京
      zoom: 15,
  
    });
  }
  
  //検索後のマップ作成
  let geocoder
  let aft
  function codeAddress(){
    let inputAddress = document.getElementById('address').value;
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
          //マーカーが複数できないようにする
          if (aft == true){
              marker.setMap(null);
          }
  
          //新しくマーカーを作成する
          map.setCenter(results[0].geometry.location);
              marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              draggable: true // ドラッグ可能にする
          });
  
          //二度目以降か判断
          aft = true
  
          //検索した時に緯度経度を入力する
          document.getElementById('lat').value = results[0].geometry.location.lat();
          document.getElementById('lng').value = results[0].geometry.location.lng();
  
          // マーカーのドロップ（ドラッグ終了）時のイベント
          google.maps.event.addListener( marker, 'dragend', function(ev){
              // イベントの引数evの、プロパティ.latLngが緯度経度
              document.getElementById('lat').value = ev.latLng.lat();
              document.getElementById('lng').value = ev.latLng.lng();
          });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });   
  }
  
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChYAOc-Yv8rP-7lPGG8_i1U0cDaqQJ1AE&callback=initMap" async defer></script>

    <% end %>
    
</div>